<ion-header>
  <ion-navbar>
    <ion-title>
      教室管理
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addRoom()">
        <ion-icon name="add"></ion-icon>添加
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-group ion-item no-padding *ngFor="let school of schoolList">
      <ion-list-header no-margin color="light"><h2><b>{{school.name}}</b></h2></ion-list-header>
      <ion-item-group ion-item no-padding *ngFor="let campus of campusList" [hidden]="campus.schoolId != school.id">
        <ion-item-divider no-margin color="light">{{campus.name}}</ion-item-divider>
        <ion-item-sliding *ngFor="let room of roomList" [hidden]="room.campusId != campus.id">
          <button ion-item outline (click)="showDetail(school,campus,room)">
            <h2>教室 : {{room.name}}</h2>
          </button>
          <ion-item-options>
            <button ion-button color="danger"  (click)="deleteRoom(room)"><ion-icon name="trash"></ion-icon> Delete</button>
          </ion-item-options>
        </ion-item-sliding>

      </ion-item-group>
    </ion-item-group>
  </ion-list>

</ion-content>
