<ion-header>
  <ion-navbar>
    <ion-title>
      添加摄像头
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()" #registerFrom="ngForm">
    <ion-item>
      <ion-label floating>品牌</ion-label>
      <ion-input type="text" name="brand" [(ngModel)]='brand' required [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>型号</ion-label>
      <ion-input type="text" name="model" [(ngModel)]='model' required [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>序列号</ion-label>
      <ion-input type="text" name="serialNumber" [(ngModel)]='serialNumber' required [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>ip</ion-label>
      <ion-input type="text" name="ip" [(ngModel)]='ip' [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>推流地址</ion-label>
      <ion-input type="text" name="url" [(ngModel)]='url' [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>学校</ion-label>
      <ion-select interface="popover" [(ngModel)]="schoolId" [ngModelOptions]="{standalone: true}" (ionChange)="updateCampusBySchool()" placeholder="--请选择学校--">
        <ion-option *ngFor="let s of schoolList" value="{{s.id}}">
          {{s.name}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>校区</ion-label>
      <ion-select interface="popover" [(ngModel)]="campusId" [ngModelOptions]="{standalone: true}" (ionChange)="updateRoomByCampus()" placeholder="--请选择校区--">
        <ion-option *ngFor="let c of campusListBySchool" value="{{c.id}}">
          {{c.name}}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>教室</ion-label>
      <ion-select interface="popover" [(ngModel)]="roomId" [ngModelOptions]="{standalone: true}" placeholder="--请选择教室--">
        <ion-option *ngFor="let r of roomListByCampus" value="{{r.id}}">
          {{r.name}}
        </ion-option>
      </ion-select>
    </ion-item>


    <div padding>
      <button type="submit" ion-button color="primary" block [disabled]="!registerFrom.form.valid">添加摄像头</button>
    </div>


  </form>
</ion-content>
